
 /* style.css */
    *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      font-family:"poppins",sans-serif;
    }
    body{
      background-color:#f3f5f7;
    }
    nav{
      background-color:#0078d7;
      color:white;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:15px 30px;
      position:sticky;
      top:0;
      box-shadow: 02px 4px rgba(0,0,0,0.1);
    }
    nav h1{
      font-size:24px;
    }
    nav ul{
      list-style:none;
      display:flex;
      gap:20px;
    }
    nav ul li a{
      text-decoration:none;
      color:white;
      font-weight:500;
    }
    nav ul li a:hover{
      color:#ffd700;
    }
    .hero{
      text-align:center;
      padding:60px 20px;
      background:linear-gradient(to left,#0078d7,#00b4d8);
      color:white; 
    }
    .hero h2{
      font-size:36px;
      margin-bottom:10px;
    }
    .hero p{
      font-size:18px;
    }
    .expense-form{
      background-color:white;
      max-width:600px;
      margin:100px left-right auto;
    
      padding:30px;
      border-radius:100px;
      box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    }
    .expense-form h3{
      text-align:center;
      color:#0078d7;
      margin-bottom:20px;
    }
    .expense-form label{
      display:block;
      font-weight:bold;
      margin-bottom:5px;
      color:#333;
    }
    .expense-form input,.expense-form select{
      width:100%;
      padding:10px;
      margin-bottom:15px;
      border:1px solid #ccc;
      border-radius:6px;
    }
    .expense-form button{
      background-color:#0078d7;
      color:white;
      padding:12px;
      border:none;
      width:100%;
      border-radius:25px;
      font-weight:bold;
      cursor:pointer;
      transition:background-color 0.3s;
    }
    .expense-form button:hover{
      background-color:#005fa3;
    }
    .table-section{
      
      text-align:center;
      margin-bottom:15px;

    }
    table{
      width:100%;
      border-collapse:collapse;
    }
    table th,table td{
      border:1px solid #ddd;
      padding:10px;
      text-align:center;
    }
    table th{
      background-color:#0078d7;

    }
    footer{
      background-color:#0078d7;
      color:white;
      text-align:center;
      padding:15px;
      margin-top:40px;
    }
    @media (max-width:768px){
      nav ul{
        display:none;
      }
    }
    .hero h2{
      font-size:28px;

    }
    .expense-form,.table-section{
      margin:20px;
    }     
  
